*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.game {
    height: 500px;
    width: 500px;
    overflow: scroll;
}

.game::-webkit-scrollbar {
    display: none;
  }

.game-screen {
    height: 100%;
    width: 2000px;
    background: lightgreen;
    border-bottom: 10px solid black;
}

.game-field {
    display: flex;
    height: 100%;
}

.obstacles-container-frame {
    width: 100%;
}

.obstacles-container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 750px;
}

.obstacle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.obstacle {
    height: 175px;
    width: 50px;
    background: red;
}

.short {
    height: 100px;
}

.long {
    height: 250px;
}

.player-container {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
}

.player {
    height: 30px;
    width: 30px;
    background: yellow;
    position: fixed;
}

.scoreboard {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.gameover-menu {
    display: none;
    position: absolute;
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    color: white;
}

.results {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.play-again-button {
    height: 100px;
    width: 100px;
    background: green;
    color: white;
    font-weight: 800;
    border-radius: 50px;
    box-shadow: aqua 1px solid;
    font-size: 1.2rem;
}